<footer class="min-h-3 my-96 bg-gray-100 ">
  <p class="text-black">Esto es footer</p>
 </footer>
<style>
  footer {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
