<section class="mx-auto max-w-7xl px-4">
    <div class="bg-cyan-100 mx-auto w-full rounded-3xl px-4 py-2">
        <h1 class="text-black text-center text-2xl">Tu carrera empieza aqui</h1>
        <search class="bg-white rounded-3xl">
            <form action="">

            </form>
            <button class="bg-orange-500 text-white rounded-3xl py-2 px-2 text-center min-w-full">buscar ofertas</button>
        </search>
    </div>
</section>